<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "Girl-Stick-Figure-46-Sticker.jpg" %>
    </div>
    <div id="content">
        <h1>It's Ms Val</h1>
        <p>
        Vice direct trade shaman chicharrones, craft beer heirloom migas portland stumptown meggings leggings crucifix. Glossier deep v helvetica chicharrones palo santo, blog DIY tattooed vinyl tilde readymade bespoke yuccie 8-bit aesthetic. Cred craft beer hammock, lumbersexual celiac thundercats tilde trust fund polaroid master cleanse. 
        </p>
    </div>

</div>